@model IEnumerable<BeSpokedBike.Models.Salesperson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Sales Associate", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name:")
        </th>
        <th>
            @Html.DisplayName("Last Name:")
        </th>
        <th>
            @Html.DisplayName("Address:")
        </th>
        <th>
            @Html.DisplayName("Phone:")
        </th>
        <th>
            @Html.DisplayName("Start Date:")
        </th>
        <th>
            @Html.DisplayName("Termination Date:")
        </th>
        <th>
            @Html.DisplayName("Manager:")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalespersonID }) 
        </td>
    </tr>
}

</table>
